In [7]:
#importing pandas
import pandas as pd

In [11]:
df = pd.read_csv('spam.csv', encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [12]:
df.shape

(5572, 5)

In [16]:
# split into train and test
from sklearn import cross_validation
data_train, data_test, labels_train, labels_test = cross_validation.train_test_split(
    df.v2,
    df.v1, 
    test_size=0.1, 
    random_state=42)

print (data_train[:10])

### text vectorization--go from strings to lists of numbers
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import SelectPercentile, f_classif
vectorizer = TfidfVectorizer(sublinear_tf=True, max_df=0.5)
data_train_transformed = vectorizer.fit_transform(data_train)
data_test_transformed  = vectorizer.transform(data_test)
print ("KJ")
print (data_train_transformed[:10])


# slim the data for training and testing
selector = SelectPercentile(f_classif, percentile=10)
selector.fit(data_train_transformed, labels_train)
data_train_transformed = selector.transform(data_train_transformed).toarray()
data_test_transformed  = selector.transform(data_test_transformed).toarray()

print (data_train_transformed[:10])

3130    LookAtMe!: Thanks for your purchase of a video...
106           Aight, I'll hit you up when I get some cash
4697                           Don no da:)whats you plan?
856                         Going to take your babe out ?
3454    No need lar. Jus testing e phone card. Dunno n...
2095                      Probably, want to pick up more?
800     Last Chance! Claim ur å£150 worth of discount ...
5181    K sure am in my relatives home. Sms me de. Pls:-)
4239    The LAY MAN! Just to let you know you are miss...
4417                           When you get free, call me
Name: v2, dtype: object
KJ
  (0, 4447)	0.460284912592
  (0, 7200)	0.163248247172
  (0, 3137)	0.0984238824146
  (0, 8156)	0.0996053050366
  (0, 5819)	0.250504415332
  (0, 5174)	0.102426140378
  (0, 7705)	0.324568003175
  (0, 1970)	0.271851684175
  (0, 3224)	0.122300733507
  (0, 8150)	0.118013534293
  (0, 7682)	0.15530772968
  (0, 1383)	0.148716702655
  (0, 1851)	0.21934953621
  (0, 478)	0.271851684175
  (0, 7245)	0.146013424599
  (0, 1743)	0.11141201918
  (0, 2538)	0.115644909871
  (0, 1425)	0.182835174112
  (0, 7936)	0.160644082652
  (0, 5110)	0.110581844957
  (0, 6363)	0.133268350836
  (0, 3863)	0.090064750337
  (0, 4806)	0.271851684175
  (0, 472)	0.271851684175
  (1, 8150)	0.160088591448
  :	:
  (8, 4590)	0.200793180274
  (8, 4110)	0.129529092589
  (8, 4332)	0.181598012047
  (8, 4202)	0.143928572963
  (8, 1117)	0.122793433021
  (8, 4780)	0.223246772394
  (8, 1028)	0.215127904721
  (8, 7265)	0.200793180274
  (8, 5176)	0.190803658853
  (8, 3572)	0.116564662538
  (8, 3449)	0.172818514477
  (8, 2329)	0.149496338532
  (8, 3821)	0.131382942224
  (8, 1453)	0.306511697412
  (8, 7531)	0.306511697412
  (8, 5138)	0.238941581031
  (8, 3834)	0.203366518156
  (8, 1097)	0.258373775234
  (8, 6223)	0.250625300445
  (9, 8150)	0.26566554415
  (9, 7914)	0.466609254135
  (9, 3324)	0.435740933055
  (9, 4670)	0.361084982425
  (9, 3185)	0.489859818417
  (9, 1718)	0.389207471195
[[ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 ...,
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]]

In [15]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

clf = GaussianNB()
clf.fit(data_train_transformed, labels_train)
predictions = clf.predict(data_test_transformed)

print (accuracy_score(labels_test, predictions))

0.974910394265